<div @fade class="loading_content" style="position: relative; top: 6px;">
  <div id="loader"></div>
  <div class="option">
    <div class="select_cursor icon">
      <p
        class="square"
        style="background-color: #51e2f5;"
        (click)="colorSwitch('#51e2f5')"
      ></p>
      <p
        class="square"
        style="background-color: #e5eaf5;"
        (click)="colorSwitch('#e5eaf5')"
      ></p>
      <p
        class="square"
        style="background-color: #f75990;"
        (click)="colorSwitch('#f75990')"
      ></p>
      <p
        class="square"
        style="background-color: #f43a09;"
        (click)="colorSwitch('#f43a09')"
      ></p>
      <p
        class="square"
        style="background-color: #8458B3;"
        (click)="colorSwitch('#8458B3')"
      ></p>
    </div>
  </div>
</div>
<h1>EIGHT BIT LOADER ANIMATION</h1>
