<div @fade class="loading_content" style="padding-top: 8%;">
  <div class="dice">
    <div class="face first-face">
      <div class="dot"></div>
    </div>

    <div class="face second-face">
      <div class="dot"></div>
      <div class="dot"></div>
    </div>

    <div class="face third-face">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>

    <div class="face fourth-face">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>

    <div class="face fifth-face">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>

    <div class="face sixth-face">
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="column">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
    </div>
  </div>

  <p style="padding-top: 17px;">Wait, please...</p>
</div>
<h1>DICEY LOADER ANIMATION</h1>
