.loader {
  margin: 0 auto;
  width: 60px;
  height: 50px;
  text-align: center;
  font-size: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.loader > div {
  height: 100%;
  width: 8px;
  display: inline-block;
  margin-left: 2px;
  -webkit-animation: delay 0.8s infinite ease-in-out;
  animation: delay 1.5s infinite ease-in-out;
}
.loader .bar1 {
  background-color: #754fa0;
}
.loader .bar2 {
  background-color: #09b7bf;
  -webkit-animation-delay: -1.4s;
  animation-delay: -1.4s;
}
.loader .bar3 {
  background-color: #90d36b;
  -webkit-animation-delay: -1.3s;
  animation-delay: -1.3s;
}
.loader .bar4 {
  background-color: #f2d40d;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.loader .bar5 {
  background-color: #fcb12b;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.loader .bar6 {
  background-color: #ed1b72;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes delay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.05);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes delay {
  0%,
  20%,
  100% {
    transform: scaleY(0.05);
    -webkit-transform: scaleY(0.05);
  }
  10% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

h1 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}
div:hover ~ h1 {
  visibility: visible;
  opacity: 1;
}
