div {
  display: flex;
  justify-content: center;
}
@keyframes arrows {
  0%,
  100% {
    color: black;
    transform: translateY(0);
  }
  40% {
    color: #3ab493;
    transform: translateY(-20px);
  }
}

span {
  --delay: 0s;
  animation: arrows 1s var(--delay) infinite ease-in;
  font-size: 45px;
}

h1 {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.5s linear;
}
div:hover ~ h1 {
  visibility: visible;
  opacity: 1;
}

.icon {
  position: relative;
  top: -3px;
}
