@font-face {
  font-family: aquatico;
  src: url(assets/font/Aquatico-Regular.otf) format("opentype");
}

@font-face {
  font-family: moon-bold;
  src: url(assets/font/Moon2.0-Bold.otf) format("opentype");
}

@font-face {
  font-family: moon-light;
  src: url(assets/font/Moon2.0-Light.otf) format("opentype");
}

@font-face {
  font-family: moon-regular;
  src: url(assets/font/Moon2.0-Regular.otf) format("opentype");
}

p {
  font-family: aquatico;
}

html {
  height: 95vh;
  background-color: #c9af98;
}
body {
  background-color: #c9af98;
  height: 90%;
}

h1 {
  font-family: aquatico;
  letter-spacing: 18px;
  font-size: 2.5em;
}

.loading_content {
  height: 60%;
  padding-top: 180px;
  box-sizing: border-box;
}

.select_cursor {
  cursor: pointer;
}
